{% assign author = site.author %}

<div itemscope itemtype="https://schema.org/Person" class="profile_box">
  <div class="author__avatar">
    <img src="{{ author.avatar | relative_url }}" class="author__avatar" alt="Portrait of {{ author.name }}">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <p class="author__bio"><a href="mailto:{{ author.email }}">{{ author.email }}</a></p>
    <p class="author__bio">{{ author.bio }}</p>
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      <li>{{ author.employer }}</li>
    </ul>
  </div>
</div>
